/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 3;
}



/**
 * Images
 */
img {
    max-width: 100%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

cite {
    font-size: $small-font-size;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: $title-font-family;
}



/**
 * Links
 */
a {
    color: $theme-color-lightish;
    text-decoration: none;

    &:visited {
        color: darken($theme-color-lightish, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $gray-color;
    border-left: 4px solid $gray-color-light;
    padding-left: $spacing-unit / 3;
    font-size: $base-font-size;
    letter-spacing: -1px;
    font-style: italic;

    margin: ($spacing-unit / 2) 0 ($spacing-unit / 2) 0;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: $base-font-size * 0.8;
    border: 1px solid $gray-color-light;
    border-radius: 3px;
    background-color: $code-background-color;
}

code {
    font-family: $code-font-family; 
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.goto-background {
    position: absolute;
    min-width: 0;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;  // hide extra chars

    color: $goto-color-light;
    font-size: $pattern-font-size;
    font-family: $mono-font-family;
    
    // Make all the characters touch.
    letter-spacing: -.639rem;
    line-height: $pattern-line-height;
    
    transform: scale(2.4, 1);

    background-color: $goto-color;
    background-image: url('img/white-linen.png');
    border-radius: inherit;

    margin: initial;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


%social-icon-hover {
  border-radius: 100%;
  color: $background-color;
  fill: $background-color;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
