
body {
    display: flex;
    flex-direction: column;
}

#puzzle {
    padding-top: 10px;

    display: flex;
}

#board-container {
    flex: initial;
}

#clues-container {
    flex: initial;
    text-wrap: wrap;
}

.spacer {
    flex: auto;
}

.clue-list-item.active {
    background-color: lightskyblue;
}
.clue-list-item.related {
    background-color: lightcyan;
}
.headline {
    display: flex;
    background-color: lightskyblue;
}
.headline-clue {
    font-family: sans-serif;
    font-size: 18px;
}

/* SVG for Board */
.tile {
    pointer-events: visible;
    stroke-width: 1;
    stroke: black;
    fill: white;
}

.tile.active {
    fill: lightskyblue;
}
.tile.related {
    fill: lightcyan;
}
.tile.block {
    fill: black;
}

.tile-number {
    pointer-events: none;
    font-family: sans-serif;
    fill: black;
}

.blank {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    fill: black;
    pointer-events: none;
}
.blank.incorrect {
    fill: gray;
}