@font-face {
  font-family: "RCT";
  src: url("fonts/rct2/rct2.ttf");
}

body {
    font-family: sans-serif;
}

section {
    position: relative;
    width: 400px;
    height: 360px;
    margin: 8px;

    border-style: outset;
    background: cornflowerblue;
    border-color: cornflowerblue;

    h2 {
        background-color: blue;
        font-family: 'RCT';
        color: #ffffff;
        font-size: 18px;
        margin-top: 0;
        padding: 4px;
    }

    h2::after {
        position: absolute;
        right: 2px;
        top: 1px;

        background-color: cornflowerblue;
        border-style: outset;
        border-color: #c3c3c3;

        content: '✖️';
        text-align: center;
        color: #000000;
        font-weight: normal;
        font-size: 12px;
    }

    div {
        border-style: inset;
        overflow: scroll;
    }
}
