body {
    background: #008080;
}

.window {
    position: fixed;
    border-style: outset;
    border-color: #c3c3c3;
    background-color: #c3c3c3;

    h2 {
        background-color: #01007c;
        color: #ffffff;
        font-family: "Microsoft Sans Serif", "MS Sans Serif", "sans-serif";
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 6px;
        padding-left: 3px;
        padding-top: 4px;
        height: 28px;
    }

    h2::after {
        position: absolute;
        right: 4px;
        top: 4px;
        height: 16px;
        width: 20px;
        
        padding-top: 1px;
        padding-right: 1px;

        background-color: #c3c3c3;
        border-style: outset;
        border-color: #c3c3c3;

        content: '✖️';
        text-align: center;
        font-size: 14px;
        color: #000000;
    }
}

.frame {
    border-style: inset;
    border-color: #c3c3c3;
    background: #ffffff;
    margin: 4px;
}

.nyt-window {
    top: 6px;
    right: 6px;
    bottom: 6px;
    left: 420px;
}

.nyt-frame {
    width: 1472px;
    height: 1012px;
}

.webcam-window {
    bottom: 6px;
    left: 36px;
    width: 360px;
    height: 360px;
}

.webcam-frame {
    width: 345px;
    height: 310px;
}
